<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Générateur d'attestation COVID</title>
</head>

<body>
<h1>Générateur d'attestation COVID</h1>
{{ form(user_form) }}

{% if url %}
    <p>Vous pouvez générer vos attesations de déplacement en suivant cette url d'accès personnalisée : <a
                href="{{ url }}">{{ url }}</a></p>
    <p>Vous pouvez également ajouter cette adresse à vos favoris pour un accès plus rapide.</p>
{% endif %}
</body>
</html>
