{% extends "layout.html.twig" %}
{% form_theme user_form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block main_content %}
    <h1>Générateur d'attestation COVID</h1>
    {{ form(user_form) }}

    {% if url %}
        <p>Vous pouvez générer vos attesations de déplacement en suivant cette url d'accès personnalisée : <a
                    href="{{ url }}">{{ url }}</a></p>
        <p>Vous pouvez également ajouter cette adresse à vos favoris pour un accès plus rapide.</p>
    {% endif %}
{% endblock %}
